/.metadata/
.vscode
/WolfHospital/bin/WolfHospital.class
.idea/CSC540Project.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/sqldialects.xml
*.xml
.idea/sqldialects.xml
out/production/CSC540Project/WolfHospital.class
